[Unit]
Description=Webhook Service
After=network.target

[Service]
ExecStart=/usr/local/bin/webhook -nopanic -hooks /home/meme/f24cicd-JMHackman/deployment/webhook.conf
Restart=always

[Install]
WantedBy=multi-user.target

